<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>

        <!-- paramètres de connexion à la base de données -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">sa</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/annu?serverTimezone=UTC</property>
        
        <!-- Pool de connection (interne) -->
        <property name="connection.pool_size">1</property>

        <!-- Supprimer et re-créer le schéma de la base de données au démarrage -->
        <property name="hbm2ddl.auto">update</property>

        <!-- affichier les requêtes générées -->
        <property name="show_sql">true</property>

        <!-- liste des fichiers de mapping -->
        <mapping resource="Person.hbm.xml"/>
        <mapping resource="City.hbm.xml"/>

    </session-factory>

</hibernate-configuration>