<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>MyFirstWebProject</display-name>
  
   <servlet>
    <description>
  </description>
    <display-name>ModifCityServlet</display-name>
    <servlet-name>ModifCityServlet</servlet-name>
    <servlet-class>
  com.nsis.servlet.ModifCityServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  </description>
    <display-name>DeleteCityServlet</display-name>
    <servlet-name>DeleteCityServlet</servlet-name>
    <servlet-class>
  com.nsis.servlet.DeleteCityServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  </description>
    <display-name>AjouterCityServlet</display-name>
    <servlet-name>AjouterCityServlet</servlet-name>
    <servlet-class>
  com.nsis.servlet.AjouterCityServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  </description>
    <display-name>CityServlet</display-name>
    <servlet-name>CityServlet</servlet-name>
    <servlet-class>
  com.nsis.servlet.CityServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  </description>
    <display-name>DeletePersonServlet</display-name>
    <servlet-name>DeletePersonServlet</servlet-name>
    <servlet-class>
  com.nsis.servlet.DeletePersonServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  </description>
    <display-name>ModifPersonServlet</display-name>
    <servlet-name>ModifPersonServlet</servlet-name>
    <servlet-class>
  com.nsis.servlet.ModifPersonServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  </description>
    <display-name>PersonServlet</display-name>
    <servlet-name>PersonServlet</servlet-name>
    <servlet-class>
  com.nsis.servlet.PersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterCityServlet</servlet-name>
    <url-pattern>/AjouterCityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCityServlet</servlet-name>
    <url-pattern>/DeleteCityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifCityServlet</servlet-name>
    <url-pattern>/ModifCityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/CityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifPersonServlet</servlet-name>
    <url-pattern>/ModifPersonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePersonServlet</servlet-name>
    <url-pattern>/DeletePersonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonServlet</servlet-name>
    <url-pattern>/PersonServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>